aerich==0.5.8; python_version >= "3.7" and python_version < "4.0"
aiosqlite==0.17.0; python_version >= "3.7" and python_version < "4.0"
amqp==5.0.6; python_version >= "3.6"
anyio==3.3.4; python_version >= "3.6" and python_full_version >= "3.6.2"
asgiref==3.4.1; python_version >= "3.6"
asyncpg==0.24.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
asynctest==0.13.0; python_version >= "3.5"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
bcrypt==3.2.0; python_version >= "3.6"
billiard==3.6.4.0; python_version >= "3.6"
celery==5.1.2; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; python_version >= "3.6"
charset-normalizer==2.0.7; python_full_version >= "3.6.0" and python_version >= "3.6"
click-didyoumean==0.3.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
click-plugins==1.1.1; python_version >= "3.6"
click-repl==0.2.0; python_version >= "3.6"
click==7.1.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0"
ddlparse==1.10.0; python_version >= "3.7" and python_version < "4.0"
dictdiffer==0.9.0; python_version >= "3.7" and python_version < "4.0"
ecdsa==0.17.0; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
fastapi==0.70.0; python_full_version >= "3.6.1"
flower==1.0.0
h11==0.12.0; python_version >= "3.6"
httpcore==0.13.7; python_version >= "3.6"
httpx==0.20.0; python_version >= "3.6"
humanize==3.12.0; python_version >= "3.6"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.6"
iso8601==0.1.16; python_version >= "3.7" and python_version < "4.0"
kombu==5.1.0; python_version >= "3.6"
more-itertools==8.10.0; python_version >= "3.6"
packaging==21.0; python_version >= "3.6"
passlib==1.7.4
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
prometheus-client==0.11.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
prompt-toolkit==3.0.21; python_full_version >= "3.6.2" and python_version >= "3.6"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.5" and python_version < "4"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
pydantic==1.8.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
pyparsing==3.0.1; python_version >= "3.7" and python_version < "4.0"
pypika-tortoise==0.1.1; python_version >= "3.7" and python_version < "4.0"
pytest-asyncio==0.16.0; python_version >= "3.6"
pytest==6.0.0; python_version >= "3.5"
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.3; python_version >= "3.7" and python_version < "4.0"
redis==3.5.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rfc3986==1.5.0; python_version >= "3.6"
rsa==4.7.2; python_version >= "3.5" and python_version < "4"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.3.0"
sniffio==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.2"
starlette==0.16.0; python_version >= "3.6" and python_full_version >= "3.6.1"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
tornado==6.1; python_version >= "3.5"
tortoise-orm==0.17.8; python_version >= "3.7" and python_version < "4.0"
typing-extensions==3.10.0.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
urllib3==1.26.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
uvicorn==0.15.0
vine==5.0.0; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.6"
